.App {
  text-align: center;

}
.gameBoard{
  border: solid fuchsia;
}
.timer{
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 55px;
  width: 55px;
  margin: .5em auto;
  font-size: 40px;
  border-radius: 50%;
  padding: 5px;

}
.questionBox{
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: .5px auto;
  height: 300px;
  width: 600px;
  border-radius: 30px;
  font-size: 50px;
}
.optionBox{
  border:5px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
  height: 100px;
  width: 600px;
}
.options{
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  height: 60px;
  width: 60px;
}

